@media (max-width: 480px){
    .main-container{
        width: 300px;
    }

    .mode{
        font-size: x-large;
    }

    .grid-container {
        grid-template-columns: repeat(4, 72px);
        grid-template-rows: repeat(4, 65px);
    }
    
    .grid-container > button {
        margin: 0 8px;
        padding: 12px 0;
    }

    button:nth-child(17), button:nth-child(18) {
        margin-top: .5rem;
    }     
}