*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 10em;
    background-color: var(--main-bg);
}

/* light-theme */
:root{
    --main-bg: rgb(211, 205, 205);
    --white-bg: rgb(255, 255, 255);
    --black-bg: rgb(0, 0, 0);
    --btn-bg: rgb(229, 228, 224);
    --btn-box-shadow: rgb(166, 156, 145);
    --active-btn: rgb(193, 184, 184);
    --active-child-bg: rgb(75, 73, 73);
}

/* dark-theme */
[data-theme="dark"] {
    --main-bg: rgb(17, 25, 51);
    --white-bg: rgb(0, 0, 0);
    --black-bg: rgb(255, 255, 255);
    --btn-bg: rgb(44, 55, 105);
    --btn-box-shadow: rgb(120, 96, 227);
    --active-btn: rgb(95, 82, 167);
    --active-child-bg: rgb(163, 151, 151);
}